<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="app-icon app-icon-close"></span>
            OverView
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
        </div>
        <div class="tools">

        </div>
    </div>
    <div class="portlet-body">
        <div class="flow-view">
            <div class="chart-content" style="min-height:300px;"></div>
        </div>
    </div>
</div>