<div class="dropdown">
    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span><%= default_info %></span><i class="fa fa-angle-down"></i>
    </div>
    <ul class="dropdown-menu">
        <li class="search-input">
            <input type="text" class="form-control" placeholder="<%= search_info %>"/>
        </li>
        <li class="container">
            <ul>
                <li class="list-msg"><a href="javascript:void(0)"><%= no_data_info %></a></li>
            </ul>
        </li>
        <li class="divider"></li>
        <li class="list-confirm"><a href="javascript:void(0)">OK</a></li>
    </ul>
</div>