<a class="btn-notification" href="javascript:void(0)">
    <span class="badge">0</span>
    <span class="app-icon app-icon-bell"></span>
</a>
<div class="notification-dropdown" style="display:none">
    <div class="btn-group btn-group-justified btn-group-notification" data-toggle="buttons">
        <label class="btn btn-default active" data-value="msgs">
            <input type="radio" name="activity">
            Msgs (0)
        </label>
        <label class="btn btn-default" data-value="notify">
            <input type="radio" name="activity">
            notify (0)
        </label>
        <label class="btn btn-default" data-value="tasks">
            <input type="radio" name="activity">
            Tasks (0)
        </label>
    </div>

    <div class="notification-dropdown-content">
        <ul class="notification-body">
        </ul>
    </div>

    <div class="notification-status">
        Last updated on: <span></span>
        <div class="btn btn-xs btn-refresh btn-default pull-right">
            <i class="fa fa-refresh"></i>
        </div>
    </div>
</div>