<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="app-icon app-icon-close"></span>
            OverView
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
        </div>
        <div class="tools">

        </div>
    </div>
    <div class="portlet-body">
        <div class="grid-view">
            <div class="grid-content" style="min-height:330px;"></div>
            <div class="table-overlay"></div>
            <div class="no-data-view">No Data To Display</div>
        </div>
    </div>
    <div class="pagination">
        <div class="pull-left">
            <div class="ui dropdown">
                <div class="text">Page</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                </div>
            </div>
        </div>
        <div class="pull-left page-label">rows/page</div>
        <div class="pull-right page-btn">
            <div class="mini ui icon button prev disabled">
                <i class="angle left icon"></i>
            </div>
            <span class="page-status"> 1 - 1 </span>

            <div class="mini ui icon button next disabled">
                <i class="angle right icon"></i>
            </div>
        </div>
    </div>
</div>