<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="app-icon app-icon-close"></span>
            OverView
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist"></ul>
        </div>
        <div class="tools">
            <a class="close-subtable" href="javascript:void(0)" style="display:none" data-i18n="common.tag.return"></a>
        </div>
    </div>
    <div class="portlet-body subtable">
        <div class="table-view container-flex subtable-container" style="position:relative;min-height:30px;">
            <div class="grid-content flex-1"></div>
            <div class="sub-grid-content flex-1"></div>
            <div class="view-placeholder">
                <div class="no-data-view" style="display:none">
                    <div class="empty-icon"></div>
                    <div class="empty-message" data-i18n="common.title.no-data-view"></div>
                </div>

                <div class="loading-view" style="display:none">
                    <div class="ui active inverted dimmer">
                        <div class="ui large text loader" data-i18n="common.title.loading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination">
        <div class="pull-left">
            <div class="ui dropdown">
                <div class="text">Page</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                </div>
            </div>
        </div>
        <div class="pull-left page-label">rows/page</div>
        <div class="pull-right page-btn">
            <div class="mini ui icon button prev disabled">
                <i class="angle left icon"></i>
            </div>
            <span class="page-status"> 1 - 1 </span>

            <div class="mini ui icon button next disabled">
                <i class="angle right icon"></i>
            </div>
        </div>
    </div>
</div>