<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <span class="app-icon app-icon-close"></span>
            OverView
        </div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
        </div>
        <div class="tools">
            <a class="close-subtable" href="javascript:void(0)" style="display:none">Return</a>
        </div>
    </div>
    <div class="portlet-body subtable">
        <div class="table-view container-flex subtable-container" style="min-height:30px;">
            <div class="grid-content flex-1"></div>
            <div class="sub-grid-content flex-1"></div>

            <div class="table-overlay" style="height:100%;"></div>
            <div class="no-data-view">No Data To Display</div>
        </div>
    </div>
    <div class="pageinate">
        <div class="left">
            <select class="form-control"></select>
        </div>
        <div class="left page-label">rows/page</div>
        <div class="right page-btn">
            <div class="btn btn-default prev disabled"><i class="fa fa-angle-left"></i></div>
            <span class="page-status"> 1 - 1 </span>

            <div class="btn btn-default next disabled"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
</div>